<a href="https://colab.research.google.com/github/helmieresearch/helmieresearch/blob/main/Zipline_Reloaded_BacktestEngine_rankingtable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üß∞**INSTALL MODULES**

In [ ]:
# Mount Google Drive 
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# Install ta-lib v0.4.0
%%bash
wget http://prdownloads.sourceforge.net/ta-lib/ta-lib-0.4.0-src.tar.gz
tar -xzf ta-lib-0.4.0-src.tar.gz
cd ta-lib/
./configure
make
make install

In [ ]:
# Install zipline
%pip install zipline-reloaded

In [ ]:
!pip install iso3166==2.0.2

In [ ]:
# Install Pyfolio
!pip install pyfolio-reloaded

In [ ]:
# Install matplot library
!pip install matplotlib

In [ ]:
# Install data bundle 'Quandl'
!pip install quandl

In [ ]:
import zipline
zipline.__version__

In [ ]:
!pip install nasdaq-data-link

# üíΩ**SET WORKING DIRECTORY**

In [ ]:
import os 

# Set your working directory to a folder in your Google Drive. This way, if your notebook times out,
# your files will be saved in your Google Drive!

# the base Google Drive directory
root_dir = "/content/drive/"

In [ ]:
import os 

# Set your working directory to a folder in your Google Drive. This way, if your notebook times out,
# your files will be saved in your Google Drive!


# choose where you want your project files to be saved
project_folder = "MyDrive/Colab Notebooks/My Project Folder"

In [ ]:
def create_and_set_working_directory(project_folder):
  # check if your project folder exists. if not, it will be created.
  if os.path.isdir(root_dir + project_folder) == False:
    os.mkdir(root_dir + project_folder)
    print(root_dir + project_folder + ' did not exist but was created.')

  # change the OS to use your project folder as the working directory
  os.chdir(root_dir + project_folder)

  # create a test file to make sure it shows up in the right place
  !touch 'new_file_in_working_directory.txt'
  print('\nYour working directory was changed to ' + root_dir + project_folder + \
        "\n\nAn empty text file was created there. You can also run !pwd to confirm the current working directory." )

create_and_set_working_directory(project_folder)

In [ ]:
# Confirm current working directory
!pwd

In [ ]:
import os
for f in os.listdir("//content/drive/MyDrive/Colab Notebooks/My Project Folder"):
	print(f)

# ‚è≥**INGEST DATA**

In [ ]:
# Ingest custom bundle
!zipline ingest --bundle 'crypto'

In [ ]:
# Ingest custom bundle
!zipline ingest --bundle 'equities_csvdir'

In [ ]:
# Ingest custom bundle
!zipline ingest --bundle 'random_futures_data'

In [ ]:
# Ingest custom bundle
!zipline ingest --bundle 'random_stock_data'

In [ ]:
'''
INGEST QUANDL STOCK BUNDLE
'''
# Ingest bundle API
!QUANDL_API_KEY=KUnssHvVERHb5XYu9C1- zipline ingest -b 'quandl'

In [ ]:
# Confirm existing bundles
!zipline bundles

In [ ]:
# clean everything older than <date>
!zipline clean -b crypto --after 2022-04-13

# üìä**ANDREAS CLENOW MODELS**

## **Clenow Momentum Model**

---

In [ ]:
#@title
%matplotlib inline

import zipline
from zipline import run_algorithm
from zipline.api import order_target_percent, symbol, set_commission, set_slippage, schedule_function, date_rules, time_rules
from pandas import Timestamp
from datetime import datetime
import pytz
import matplotlib.pyplot as plt 
import pyfolio as pf
import pandas as pd 
import numpy as np 
from scipy import stats
from zipline.finance.commission import PerDollar
from zipline.finance.slippage import VolumeShareSlippage, FixedSlippage

#Model Settings

intial_portfolio = 100000
momentum_window = 125
minimum_momentum = 40
portfolio_size = 30
vola_window = 20

#Commission and Slippage Settings

enable_commission = True 
commission_pct = 0.001 
enable_slippage = True 
slippage_volume_limit = 0.025
slippage_impact = 0.05

def momentum_score(ts):

  #Input: Price time series.Output: Annualized exponential regression slope, multiplied by the R2

  # Make a list of consecutive numbers 
  x = np.arange(len(ts))
  # Get logs
  log_ts = np.log(ts)
  # Calculate regression values
  slope, intercept, r_value, p_value, std_err = stats.linregress(x, log_ts) 
  # Annualize percent
  annualized_slope = (np.power(np.exp(slope), 252) - 1) * 100 
  #Adjust for fitness
  score = annualized_slope * (r_value ** 2) 
  return score

def volatility(ts):
  return ts.pct_change().rolling(vola_window).std().iloc[-1]

def output_progress(context):

  #Output some performance numbers during backtest run 
  #This code just prints out the past month's performance,
  # so that we have something to look at while the backtest runs.

  # Get today's date
  today = zipline.api.get_datetime().date()

  # Calculate percent difference since last month
  perf_pct = (context.portfolio.portfolio_value / context.last_month) - 1

  # Print performance, format as percent with two decimals. 
  print("{} - Last Month Result: {:.2%}".format(today, perf_pct))

  # Remember today's portfolio value for next month's calculation 
  context.last_month = context.portfolio.portfolio_value

#Initialization and trading logic


def initialize(context):

  # Set commission and slippage.
  if enable_commission:
    comm_model = PerDollar(cost=commission_pct) 
  else:
    comm_model = PerDollar(cost=0.0) 
  set_commission(comm_model)
  if enable_slippage: slippage_model=VolumeShareSlippage(volume_limit=slippage_volume_limit,
price_impact=slippage_impact) 
  else:
    slippage_model=FixedSlippage(spread=0.0) 
  set_slippage(slippage_model)

  # Used only for progress output. 
  context.last_month = intial_portfolio

  # Store index membership
  context.index_members = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/My Project Folder/index members/sp500.csv', engine='python', error_bad_lines=False)


  #Schedule rebalance monthly. 
  schedule_function(
    func=rebalance, 
    date_rule=date_rules.month_start(), 
    time_rule=time_rules.market_open()
  )

def rebalance(context, data):
  # Write some progress output during the backtest 
  output_progress(context)

  # First, get today's date
  today = zipline.api.get_datetime().date()

  # Second, get the index makeup for all days prior to today.
  all_prior = context.index_members.loc[context.index_members.index < today]

  todays_universe = [ 
    symbol(ticker) for ticker in
    context.index_members.loc[context.index_members.index < today].iloc[-1,0].split(',')
  ]

  # Get historical data
  hist = data.history(todays_universe, "close", momentum_window, "1d")

  # Make momentum ranking table
  ranking_table = hist.apply(momentum_score).sort_values(ascending=False)

  #Sell Logic
  #First we check if any existing position should be sold.
    #Sell if stock is no longer part of index.
    #Sell if stock has too low momentum value.

  kept_positions = list(context.portfolio.positions.keys()) 
  for security in context.portfolio.positions:
    if (security not in todays_universe): 
      order_target_percent(security, 0.0) 
      kept_positions.remove(security)
    elif ranking_table[security] < minimum_momentum: 
      order_target_percent(security, 0.0) 
      kept_positions.remove(security)

  #Stock Selection Logic
  #Check how many stocks we are keeping from last month.
  #Fill from top of ranking list, until we reach the desired total number of portfolio holdings.

  replacement_stocks = portfolio_size - len(kept_positions) 
  buy_list = ranking_table.loc[
    ~ranking_table.index.isin(kept_positions)][:replacement_stocks]
  new_portfolio = pd.concat(
    (buy_list,
    ranking_table.loc[ranking_table.index.isin(kept_positions)])
  )
  buy_list = ranking_table.loc[
    ~ranking_table.index.isin(kept_positions)][:replacement_stocks]

  #Calculate inverse volatility for stocks, and make target position weights.

  vola_table = hist[new_portfolio.index].apply(volatility) 
  inv_vola_table = 1 / vola_table
  sum_inv_vola = np.sum(inv_vola_table) 
  vola_target_weights = inv_vola_table / sum_inv_vola
  for security, rank in new_portfolio.iteritems(): 
    weight = vola_target_weights[security]
    if security in kept_positions:
      order_target_percent(security, weight)
    else:
      if ranking_table[security] > minimum_momentum: 
        order_target_percent(security, weight)

def analyze(context, perf):
  perf['max'] = perf.portfolio_value.cummax() 
  perf['dd'] = (perf.portfolio_value / perf['max']) - 1 
  maxdd = perf['dd'].min()

  ann_ret = (np.power((perf.portfolio_value.iloc[-1] / perf.portfolio_value.iloc[0]),(252 / len(perf)))) - 1

  print("Annualized Return: {:.2%} Max Drawdown: {:.2%}".format(ann_ret, maxdd))

  return
'''
start = datetime(1997, 1, 1, 8, 15, 12, 0, pytz.UTC)
end = datetime(2018, 12, 31, 8, 15, 12, 0, pytz.UTC)
'''

start = pd.Timestamp('1997-1-1', tz='utc')
end = pd.Timestamp('2018-12-31', tz='utc')

perf = zipline.run_algorithm(start=start, end=end, 
                             initialize=initialize, 
                             analyze=analyze, 
                             capital_base=intial_portfolio, 
                             data_frequency = 'daily', 
                             bundle='quandl' )

## **Clenow Trend Model**

In [ ]:

%matplotlib inline

import zipline
from zipline.api import future_symbol,  \
    set_commission, set_slippage, schedule_function, date_rules, \
    time_rules, continuous_future, order_target
from pandas import Timestamp
import pytz
import datetime as datetime
import matplotlib.pyplot as plt
import pyfolio as pf
import pandas as pd
import numpy as np  
from zipline.finance.commission import PerTrade, PerContract
from zipline.finance.slippage import VolumeShareSlippage, \
    FixedSlippage, VolatilityVolumeShare

# These lines are for the dynamic text reporting
from IPython.display import display
import ipywidgets as widgets
out = widgets.HTML()
display(out)

"""
Model Settings
"""
starting_portfolio = 50000000
risk_factor = 0.0015
stop_distance = 3
breakout_window = 50
vola_window = 40
slow_ma = 80
fast_ma = 40
enable_commission = True
enable_slippage = True  


def report_result(context, data):
    context.months += 1
    today = zipline.api.get_datetime().date()
    # Calculate annualized return so far
    ann_ret = np.power(context.portfolio.portfolio_value / starting_portfolio, 
                   12 / context.months) - 1
    
    # Update the text
    out.value = """{} We have traded <b>{}</b> months 
    and the annualized return is <b>{:.2%}</b>""".format(today, context.months, ann_ret)

def roll_futures(context, data):
    open_orders = zipline.api.get_open_orders()
    
    for held_contract in context.portfolio.positions:
        # don't roll positions that are set to change by core logic
        if held_contract in open_orders: 
            continue
        
        # Save some time by only checking rolls for
        # contracts stopping trading in the next days
        days_to_auto_close = (
            held_contract.auto_close_date.date() - data.current_session.date()
        ).days
        if days_to_auto_close > 5:
            continue        
        
        # Make a continuation
        continuation = continuous_future(
                held_contract.root_symbol, 
                offset=0, 
                roll='volume', 
                adjustment='mul'
                )
        
        # Get the current contract of the continuation
        continuation_contract = data.current(continuation, 'contract')
        
        if continuation_contract != held_contract:
            # Check how many contracts we hold
            pos_size = context.portfolio.positions[held_contract].amount         
            # Close current position
            order_target(held_contract, 0)
            # Open new position
            order_target(continuation_contract, pos_size)     
            
def position_size(portfolio_value, std, point_value):
    target_variation = portfolio_value * risk_factor
    contract_variation = std * point_value
    contracts = target_variation / contract_variation
    return int(np.nan_to_num(contracts)) 
    
def initialize(context):
    
    """
    Cost Settings
    """
    if enable_commission:
        comm_model = PerContract(cost=0.85, exchange_fee=1.5)
    else:
        comm_model = PerTrade(cost=0.0)
        
    set_commission(us_futures=comm_model)
    
    if enable_slippage:
        slippage_model=VolatilityVolumeShare(volume_limit=0.2)
    else:
        slippage_model=FixedSlippage(spread=0.0)      
        
    set_slippage(us_futures=slippage_model)
    
    """
    Markets to trade
    """ 
    currencies = [
        'AD',
        'BP',
        'CD',
        'CU',
        'DX',
        'JY',
        'NE',
        'SF',
    ]
    
    agricultural = [
        '_C',
        'CT',
        'FC',
        'KC',
        'LR',
        'LS',
        '_O',
        '_S',
        'SB',
        'SM',
        '_W',
    ]
    nonagricultural = [
        'CL',
        'GC',
        'HG',
        'HO',
        'LG',
        'NG',
        'PA',
        'PL',
        'RB',
        'SI',
    ]
    equities = [
        'ES',
        'NK',
        'NQ',
        'TW',
        'VX',
        'YM',
    ]
    rates = [
        'ED',
        'FV',
        'TU',
        'TY',
        'US',
    ]
    
    # Make a list of all the markets
    markets = currencies + agricultural + nonagricultural + equities + rates
    
    # Make a list of all continuations
    context.universe = [
        continuous_future(market, offset=0, roll='volume', adjustment='mul')
            for market in markets
    ]
    
    # We'll use these to keep track of best position reading
    # Used to calculate stop points.
    context.highest_in_position = {market: 0 for market in markets} 
    context.lowest_in_position = {market: 0 for market in markets}    
    
    # Schedule the daily trading
    schedule_function(daily_trade, date_rules.every_day(), time_rules.market_close())
    
    # We'll just use this for the progress output
    # during the backtest. Doesn't impact anything.
    context.months = 0    
    
    # Schedule monthly report output
    schedule_function(
        func=report_result,
        date_rule=date_rules.month_start(),
        time_rule=time_rules.market_open()
    ) 
    
def analyze(context, perf):
    returns, positions, transactions = pf.utils.extract_rets_pos_txn_from_zipline(perf)
    pf.create_returns_tear_sheet(returns, benchmark_rets=None)
    
def daily_trade(context, data):
    # Get continuation data
    hist = data.history(
        context.universe, 
        fields=['close','volume'], 
        frequency='1d', 
        bar_count=250,
    )
    
    # Calculate trend
    hist['trend'] = hist['close'].ewm(span=fast_ma).mean() > hist['close'].ewm(span=slow_ma).mean()    
    
    # Make dictionary of open positions
    open_pos = {
        pos.root_symbol: pos 
        for pos in context.portfolio.positions
    } 
    
    # Iterate markets, check for trades
    for continuation in context.universe:
        
        # Get root symbol of continuation
        root = continuation.root_symbol
        
        # Slice off history for just this market
        h = hist.xs(continuation, 2)
        
        # Get standard deviation
        std = h.close.diff()[-vola_window:].std()

        if root in open_pos: # Position is open

            # Get position
            p = context.portfolio.positions[open_pos[root]]
            
            if p.amount > 0: # Position is long
                if context.highest_in_position[root] == 0: # First day holding the position
                    context.highest_in_position[root] = p.cost_basis
                else:
                    context.highest_in_position[root] = max(
                        h['close'].iloc[-1], context.highest_in_position[root]
                    ) 
                    
                # Calculate stop point
                stop = context.highest_in_position[root] - (std  * stop_distance)
                # Check if stop is hit
                if h.iloc[-1]['close'] < stop:
                    contract = open_pos[root]
                    order_target(contract, 0)
                    context.highest_in_position[root] = 0
                # Check if trend has flipped
                elif h['trend'].iloc[-1] == False:
                    contract = open_pos[root]
                    order_target(contract, 0)
                    context.highest_in_position[root] = 0
                    
            else: # Position is short
                if context.lowest_in_position[root] == 0: # First day holding the position
                    context.lowest_in_position[root] = p.cost_basis
                else:
                    context.lowest_in_position[root] = min(
                        h['close'].iloc[-1], context.lowest_in_position[root]
                    )
                
                # Calculate stop point
                stop = context.lowest_in_position[root] + (std  * stop_distance)
                
                # Check if stop is hit
                if h.iloc[-1]['close'] > stop:
                    contract = open_pos[root]
                    order_target(contract, 0)
                    context.lowest_in_position[root] = 0
                # Check if trend has flipped
                elif h['trend'].iloc[-1] == True:
                    contract = open_pos[root]
                    order_target(contract, 0)
                    context.lowest_in_position[root] = 0                         
        
        else: # No position on
            if h['trend'].iloc[-1]: # Bull trend
                # Check if we just made a new high
                if h['close'][-1] == h[-breakout_window:]['close'].max(): 
                    contract = data.current(continuation, 'contract')

                    contracts_to_trade = position_size( \
                                                       context.portfolio.portfolio_value, \
                                                       std, \
                                                       contract.price_multiplier)
                    
                    # Limit size to 20% of avg. daily volume
                    contracts_cap = int(h['volume'][-20:].mean() * 0.2)
                    contracts_to_trade = min(contracts_to_trade, contracts_cap)
                    
                    # Place the order
                    order_target(contract, contracts_to_trade)
             
            else: # Bear trend
                # Check if we just made a new low
                if h['close'][-1] == h[-breakout_window:]['close'].min(): 
                    contract = data.current(continuation, 'contract')

                    contracts_to_trade = position_size( \
                                                       context.portfolio.portfolio_value, \
                                                       std, \
                                                       contract.price_multiplier)
                    
                    # Limit size to 20% of avg. daily volume
                    contracts_cap = int(h['volume'][-20:].mean() * 0.2)
                    contracts_to_trade = min(contracts_to_trade, contracts_cap)
                    
                    # Place the order
                    order_target(contract, -1 * contracts_to_trade)
    
    # If we have open positions, check for rolls
    if len(open_pos) > 0:   
        roll_futures(context, data)                
                        

start = pd.Timestamp('2003-01-01', tz='utc')
end = pd.Timestamp('2017-12-31', tz='utc')

perf = zipline.run_algorithm(
    start=start, end=end, 
    initialize=initialize, 
    analyze=analyze,
    capital_base=starting_portfolio,  
    data_frequency = 'daily', 
    bundle='random_futures_data' )

### üíª**MODEL TESTING**

#**DIGITAL ASSETS PROGRAMME**

## **Systems**

---

### Single Asset Backtest

In [ ]:
# This ensures that our graphs will be shown properly in the notebook.
%matplotlib inline

# Import libraries
import zipline
from zipline import run_algorithm
from zipline.api import order_target_percent, symbol
from datetime import datetime
import pytz
import matplotlib.pyplot as plt
import pandas as pd

def initialize(context):
  # Which asset to trade
  context.asset = symbol('btc')
  
  # Moving average window
  context.index_average_window = 100

def handle_data(context, data):
  # Request history for the stock
  btc_hist = data.history(context.asset, "close",
                               context.index_average_window, "1d")
  
  # Check if price is above moving average
  if btc_hist[-1] > btc_hist.mean():
    asset_weight = 1.0
  else:
    asset_weight = 0.0
    # Place order
    order_target_percent(context.asset, asset_weight)

def analyze(context, perf):
  
  fig = plt.figure(figsize=(12, 8))
  
    # First char
  ax = fig.add_subplot(311)
  ax.set_title('Strategy Results')
  ax.semilogy(perf['portfolio_value'], linestyle='-',
              label='Equity Curve', linewidth=3.0)
  ax.legend()
  ax.grid(False)

  # Second chart
  ax = fig.add_subplot(312)
  ax.plot(perf['gross_leverage'],
  label='Exposure', linestyle='-', linewidth=1.0)
  ax.legend()
  ax.grid(True)

  # Third chart
  ax = fig.add_subplot(313)
  ax.plot(perf['returns'], label='Returns', linestyle='-.',
          linewidth=1.0)

### Equal Weight Model

In [ ]:
# This ensures that our graphs will be shown properly in the notebook.
%matplotlib inline

# Import a few libraries we need
from zipline import run_algorithm
from zipline.api import order_target_percent, record, symbol, set_benchmark
import pyfolio as pf
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

def initialize(context):

  # Which stock to trade

  """
  dji = ["JEC","BBY","MSFT","MCHP","PEP",
         "RAD","PTC","GCO","FAST","CTL",
         "APA","EL","TMK","VVI","HPQ",
         "CMCSA","JCI","T"]

  dji = ["aave","ada","algo","alpha","ant",
         "bal","bat","bch","bnb","bsv",
         "btc"]
  """

  dji = ["btc"]


  # Make a list of symbols from the list of tickers
  context.dji_symbols = [symbol(s) for s in dji]

  # Moving average window
  context.index_average_window = 52
  
def handle_data(context, data):
  
  # Get history for all the stocks
  stock_hist = data.history(context.dji_symbols, "close", context.index_average_window, "1d")

  # Make an empty DataFrame to start with
  stock_analytics = pd.DataFrame()

  # Add column for above or below average
  stock_analytics['above_mean'] = stock_hist.iloc[-1] > stock_hist.mean()

  # Set weight for stocks to buy
  stock_analytics.loc[stock_analytics['above_mean'] == True, 'weight'] = 1/len(context.dji_symbols)

  # Set weight to zero for the rest
  stock_analytics.loc[stock_analytics['above_mean'] == False, 'weight'] = 0.0

  # Iterate each row and place trades
  for stock, analytics in stock_analytics.iterrows():

    # Check if the stock can be traded
    if data.can_trade(stock):

      # Place the trade
      order_target_percent(stock, analytics['weight'])

def analyze(context, perf):

  # Use PyFolio to generate a performance report
  returns, positions, transactions = pf.utils.extract_rets_pos_txn_from_zipline(perf)

  benchmark_period_return = perf['benchmark_period_return']

  daily_benchmark_returns = np.exp(np.log(benchmark_period_return + 1.0).diff()) - 1

  # Create tear sheet
  pf.create_full_tear_sheet(returns, positions=positions, transactions=transactions, benchmark_rets=None)

"""

def analyze(context, perf):

  fig = plt.figure(figsize=(12, 8))

  # First chart
  ax = fig.add_subplot(311)
  ax.set_title('Strategy Results')
  ax.plot(perf['portfolio_value'], linestyle='-',
          label='Equity Curve', linewidth=3.0)
  ax.legend()
  ax.grid(False)

  # Second chart
  ax = fig.add_subplot(312)
  ax.plot(perf['gross_leverage'],label='Exposure',
          linestyle='-', linewidth=1.0)
  ax.legend()
  ax.grid(True)
  
  # Third chart
  ax = fig.add_subplot(313)
  ax.plot(perf['returns'], label='Returns', linestyle='-.',
          linewidth=1.0)
  ax.legend()
  ax.grid(True)

  """

# Set start and end date
start_date = pd.Timestamp('2016-05-02', tz='utc')
end_date = pd.Timestamp('2020-05-02', tz='utc')

# Fire off the backtest
perf = run_algorithm(
start=start_date,
end=end_date,
initialize=initialize,
analyze=analyze,
handle_data=handle_data,
capital_base=10000,
data_frequency = 'daily', 
bundle= 'crypto',)

In [ ]:
#Export performance results to disk in csv file

perf.portfolio_value.to_csv('ewm_momentum_model.csv')

### Momentum Model

In [ ]:
#@title

%matplotlib inline

import zipline
from zipline import run_algorithm
from zipline.api import order_target_percent, symbol, set_commission, set_slippage, schedule_function, date_rules, time_rules
import matplotlib.pyplot as plt 
import pyfolio as pf
import pandas as pd 
import numpy as np
from scipy import stats
import warnings
warnings.filterwarnings('ignore')
from zipline.finance.commission import PerDollar
from zipline.finance.slippage import VolumeShareSlippage, FixedSlippage


initial_portfolio = 10000
minimum_momentum = 10
portfolio_size = 1
vola_window = 30

def momentum_score(ts):

  #Input: Price time series.Output: Annualized exponential regression slope, multiplied by the R2

  # Make a list of consecutive numbers 
  x = np.arange(len(ts))
  # Get logs
  log_ts = np.log(ts)
  # Calculate regression values
  slope, intercept, r_value, p_value, std_err = stats.linregress(x, log_ts) 
  # Annualize percent
  annualized_slope = (np.power(np.exp(slope), 252) - 1) * 100 
  #Adjust for fitness
  score = annualized_slope * (r_value ** 2) 
  return score

def volatility(ts):
  return ts.pct_change().rolling(vola_window).std().iloc[-1]


#Initialization and trading logic


def initialize(context):

  context.rolling_window = 100

  #Commission and Slippage Settings

  enable_commission = True 
  commission_pct = 0.001 
  enable_slippage = True 
  slippage_volume_limit = 0.025
  slippage_impact = 0.05

  """
  dji = ["AAVE","ADA","ALPHA","BCH","BTC",
          "DOGE","DOT","ETH","LTC","USDT",
          "XLM","XMR","XRP"]
  """
  dji = ["btc","ltc","eth"]

  
  # Make a list of symbols from the list of tickers
  context.dji_symbols = [symbol(s) for s in dji]

  # Set commission and slippage.
  if enable_commission:
    comm_model = PerDollar(cost=commission_pct) 
  else:
    comm_model = PerDollar(cost=0.0) 
  set_commission(comm_model)
  if enable_slippage: slippage_model=VolumeShareSlippage(volume_limit=slippage_volume_limit,
price_impact=slippage_impact) 
  else:
    slippage_model=FixedSlippage(spread=0.0) 
  set_slippage(slippage_model)


  #Schedule rebalance monthly. 
  schedule_function(
    func=rebalance, 
    date_rule=date_rules.month_start(), 
    time_rule=time_rules.market_open()
  )

def rebalance(context, data):

  # Get historical data
  hist = data.history(context.dji_symbols, "close", context.rolling_window, "1d")

  # Make momentum ranking table
  ranking_table = hist.apply(momentum_score).sort_values(ascending=False)

  #Sell Logic
  #First we check if any existing position should be sold.
    #Sell if stock is no longer part of index.
    #Sell if stock has too low momentum value.

  kept_positions = list(context.portfolio.positions.keys()) 
  for security in context.portfolio.positions:
    if ranking_table[security] < minimum_momentum: 
      order_target_percent(security, 0.0)
      kept_positions.remove(security)
 
  #Stock Selection Logic
  #Check how many stocks we are keeping from last month.
  #Fill from top of ranking list, until we reach the desired total number of portfolio holdings.

  replacement_stocks = portfolio_size - len(kept_positions) 
  buy_list = ranking_table.loc[
    ~ranking_table.index.isin(kept_positions)][:replacement_stocks]
  new_portfolio = pd.concat(
    (buy_list,
    ranking_table.loc[ranking_table.index.isin(kept_positions)])
  )
  buy_list = ranking_table.loc[
    ~ranking_table.index.isin(kept_positions)][:replacement_stocks]

  #Calculate inverse volatility for stocks, and make target position weights.

  vola_table = hist[new_portfolio.index].apply(volatility) 
  inv_vola_table = 1 / vola_table
  sum_inv_vola = np.sum(inv_vola_table) 
  vola_target_weights = inv_vola_table / sum_inv_vola
  for security, rank in new_portfolio.iteritems(): 
    weight = vola_target_weights[security]
    if security in kept_positions:
      order_target_percent(security, weight)
    else:
      if ranking_table[security] > minimum_momentum: 
        order_target_percent(security, weight)


def analyze(context, perf):
    
  # Use PyFolio to generate a performance report
  returns, positions, transactions = pf.utils.extract_rets_pos_txn_from_zipline(perf)

  benchmark_period_return = perf['benchmark_period_return']

  daily_benchmark_returns = np.exp(np.log(benchmark_period_return + 1.0).diff()) - 1

  # Create tear sheet
  pf.create_full_tear_sheet(returns, positions=positions, transactions=transactions, benchmark_rets=None)

start= pd.Timestamp('2015-5-1', tz='utc')
end = pd.Timestamp('2022-5-2', tz='utc')

perf = zipline.run_algorithm(start=start, 
                             end=end, 
                             initialize=initialize, 
                             analyze=analyze, 
                             capital_base=initial_portfolio, 
                             data_frequency='daily',
                             bundle='crypto')

In [ ]:
#Export Performance Result to disk in csv file

perf.portfolio_value.to_csv('crypto_momentum.csv')

### **Model Performance**

# **DATA CLEANING**

## Futures

In [ ]:
# Import modules
import nasdaqdatalink
import quandl
# Get the data for Futures, Continuous Contract #6.
import matplotlib.pyplot as plt
data = quandl.get("CHRIS/CME_YM1",start_date="2017-12-03", end_date="2018-12-03", api_key='WDDHaLh3eG6vrEgiCCqy')

In [ ]:
# Plot the prices
data.Settle.plot()
plt.show()

In [ ]:
#import required libraries
import pandas as pd
from datetime import datetime
import numpy as np

data = data.rename(columns={'Open': 'open','High':'high',
                                'Low':'low','Last':'close',
                                'Volume':'volume','Previous Day Open Interest': 'openinterest'}, index=None)

data['expiration_date'] = '2018-12-21'
data['root_symbol'] = 'YM'
data['symbol'] = 'YMZ18'

new_data = data.drop(['Change', 'Settle',], axis=1)

print(new_data.head())

In [ ]:
new_data.to_csv('/content/drive/MyDrive/Colab Notebooks/My Project Folder/Futures/YMZ18.csv')

## Digital assets

### Adjusting model performace csv data for comparison

In [ ]:
import pandas as pd
import numpy as np

A = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/My Project Folder/Backtests/Raw Model Performance Data/Digital Assets/crypto_momentum.csv', parse_dates=True, index_col=0)

A.index = A.index.strftime('%Y/%m/%d')

header_row = 1

A.columns = A.iloc[header_row]

A

In [ ]:
A.info()

In [ ]:

A.to_csv('/content/drive/MyDrive/Colab Notebooks/My Project Folder/Backtests/crypto_momentum_2.csv')

### Adjusting crypto indices csv data for comparison

In [ ]:
#import required libraries
import pandas as pd
from datetime import datetime
import exchange_calendars as xcals
from zipline import get_calendar
import numpy as np

df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/My Project Folder/crypto/indices/SPCBDM.csv', encoding='cp1252')
df.info()
print(df)

In [ ]:

df.drop([1355],axis=0, inplace = True )

#Convert 'date' Column to datetime
df['2/28/2017'] = pd.to_datetime(df['2/28/2017'], utc=True)

#Set 'date' column as index
df.set_index('2/28/2017', inplace=True)

# Get all expected trading sessions in new dataframe.
sessions = get_calendar('NYSE').sessions_in_range('2017-02-28', '2022-05-05')

df.index = df.index.strftime('%Y/%m/%d')

header_row = 1

df.columns = df.iloc[header_row]

df.tail(5)
df.info()
df

In [ ]:
df = df[~df.index.duplicated()]
df

In [ ]:
df.to_csv('/content/drive/MyDrive/Colab Notebooks/My Project Folder/Backtests/SPCBDM_test3.csv')

### Removing weekends from timeseries

In [ ]:
#@title
#Import statements
%matplotlib inline
import pandas as pd
import datetime as dt
import numpy as np

#Load csv file from disc
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/My Project Folder/crypto/crypto_data/DOGE.csv')

#Set date column to datetime
df['time'] = pd.to_datetime(df['time'], errors='coerce')

#Remove weekends from data
df = df[df.time.dt.weekday < 5]

#Set 'date' columns as Index
df.set_index("time", inplace = True)

#display weekday dataframe
df

In [ ]:
#inspect dataframe
df.info()

In [ ]:
#Save dataframe to csv

df.to_csv('/content/drive/MyDrive/Colab Notebooks/My Project Folder/crypto/crypto weekday data/DODGE_weekday.csv')

In [ ]:
#Load final data to file to dataframe
dodge = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/My Project Folder/crypto/crypto weekday data/DODGE_weekday.csv')

print(dodge)

In [ ]:
#Remove weekends from dataframe
btc = usholidays[usholidays.date.dt.weekday < 5]

#Set 'date' column as index
btc.set_index('date', inplace = True)

btc

In [ ]:
#import US holiday calender
from pandas.tseries.holiday import USFederalHolidayCalendar as calendar

#Set period between start and end date in dataframe to identify and remove holidays
holidays = calendar().holidays(start='2009-01-05', end='2022-05-24') 
m = raw_data['date'].isin(holidays)
usholidays = raw_data[~m].copy()

#print new dataframe with holidays removed
usholidays

### Adjusting crypto data from **Yahoo Finance** for testing with NYSE trading calender.

In [ ]:
#import required libraries
import pandas as pd
from datetime import datetime
import exchange_calendars as xcals
from zipline import get_calendar
import numpy as np

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/My Project Folder/crypto/yahoo_data/yahoo raw data/BTC-USD.csv', parse_dates=True, index_col=0)

# Remove Adj Close Column
new_df = df.drop(['Adj Close'], axis=1)

new_df["Volume"] = new_df["Volume"].astype(float)

#Reset index
new_df.reset_index(inplace = True)

#Convert 'date' Column to datetime
new_df['Date'] = pd.to_datetime(new_df['Date'], utc=True)

#Set 'date' column as index
new_df.set_index('Date', inplace=True)

# Get all expected trading sessions in new dataframe.
sessions = get_calendar('NYSE').sessions_in_range('2009-01-05', '2022-07-07')

# To set the trading session in  new dataframe to the NYSE Calender
btc = new_df.reindex(sessions)

#Reset index again to change the index name
btc.reset_index(inplace = True)

#Rename index column to 'date'
btc = btc.rename(columns={'index': 'trading_date'}, index=None)

#Change date format to Year-Month-Day
btc['trading_date'] =  pd.to_datetime(btc['trading_date']).dt.strftime('%Y-%m-%d')

crypto = btc.dropna()

#Change 'PriceUSD' columns to 'close'
crypto.rename(columns = {'Open':'open',
                      'High':'high',
                      'Low':'low',
                      'Close':'close',
                      'Volume':'volume'}, inplace = True)

crypto.set_index('trading_date', inplace=True)

crypto.info()

crypto.to_csv('/content/drive/MyDrive/Colab Notebooks/My Project Folder/crypto/yahoo_data/yahoo cleaned data/btc.csv')

crypto

### Adjusting crypto data from **Coinmetrics** for testing with NYSE trading calender.

In [ ]:
#import required libraries
import pandas as pd
from datetime import datetime
import exchange_calendars as xcals
from zipline import get_calendar
import numpy as np

#load raw data from file
raw_data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/My Project Folder/crypto/coinmetrics_data/btc.csv', parse_dates=True, index_col=0)

new = raw_data.drop(raw_data.loc[:, :'PriceBTC'].columns, axis=1)


#drop columns not needed. Only closing prices required
new.drop(new.iloc[:, 1:76], inplace = True, axis = 1)

#Add new columns
new['high'] =0
new['low'] =0
new['open'] =0
new['volume'] =0

# Rearrange columns to set timestamp as first column
new = new[['high','open','low','PriceUSD','volume']]

#Change 'PriceUSD' columns to 'close'
new.rename(columns = {'PriceUSD':'close'}, inplace = True)

"""
#Drop row (date) not needed
new=new.drop(['2022-05-25'])
"""

#Fill 'close' column with integer values '0'
new["close"].fillna(0, inplace=True)

#Reset index
new.reset_index(inplace = True)

#Rename time columns to date
new = new.rename(columns={'time': 'date'}, index=None)

#Drop all NaN values from dataframe
new.dropna()

#Convert columns datatype from integer to float
new["high"] = new["high"].astype(float)
new["open"] = new["open"].astype(float)
new["low"] = new["low"].astype(float)
new["volume"] = new["volume"].astype(float)

#Convert 'date' Column to datetime
new['date'] = pd.to_datetime(new['date'], utc=True)

#Set 'date' column as index
new.set_index('date', inplace=True)

# Get all expected trading sessions in new dataframe.
sessions = get_calendar('NYSE').sessions_in_range('2009-01-05', '2022-05-24')

# To set the trading session in  new dataframe to the NYSE Calender
btc = new.reindex(sessions)

#Reset index again to change the index name
btc.reset_index(inplace = True)

#Rename index column to 'date'
btc = btc.rename(columns={'index': 'date'}, index=None)

#Change date format to Year-Month-Day
btc['date'] =  pd.to_datetime(btc['date']).dt.strftime('%Y-%m-%d')

"""
btc.set_index('date', inplace=True)
"""

# Remove two columns name is 'C' and 'D'
df = btc.drop(['high', 'open','low'], axis=1)

df['open'] = df['close'] - (0 * df ['close'])
df['high'] = df['open'] - (0 * df ['open'])
df['low'] = df['high'] - (0 * df ['high'])

# Rearrange columns
df = df[['date','open','high','low','close','volume']]

df.set_index('date', inplace=True)

crypto = df.dropna()

crypto.to_csv('/content/drive/MyDrive/Colab Notebooks/My Project Folder/crypto/final crypto bundle/btc.csv')

#**Exploratory Data Analyses (EDA)**

In [ ]:
!pip install mpld3

In [ ]:
%matplotlib inline
import numpy as np
import pandas as pd
from scipy import stats
import seaborn as sn
import matplotlib.pyplot as plt
"""
import mpld3
mpld3.enable_notebook()
"""
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_rows', 2)

In [ ]:
File = pd.read_csv('/content/Stocks/NPN.JO.csv',parse_dates=True, index_col=0)
File= File.drop('symbol', axis=1)

In [ ]:
print(File.tail(5)) 
File.info()

In [ ]:
File2 = pd.read_csv('/content/newtickers.csv',parse_dates=True, index_col=0)

In [ ]:
print(File2.tail(5)) 
File2.info()

In [ ]:
File

In [ ]:
File2

In [ ]:
File2.columns = df.iloc[1]
File2.info()
File2

In [ ]:
pd.set_option('display.max_rows', None)

File.describe()

In [ ]:
"""
File['open'].plot(figsize=(12,6), 
                  linestyle='--',color='black',
                  legend='Open')

File['high'].plot(figsize=(12,6),
                   linestyle='-',color='red',
                   legend='High')
File['low'].plot(figsize=(12,6),
                 linestyle=':',color='blue',
                 legend='Low')
"""
File['close'].plot(figsize=(12,6),
                  linestyle='-',color='purple',
                  legend='Close')
plt.show()

In [ ]:
no_outlier_prices = File[(np.abs(stats.zscore(File)) <
3).all(axis=1)]

In [ ]:
no_outlier_prices['close'].plot(figsize=(12,6), linestyle='--',
color='black', legend='close')

In [ ]:
pd.set_option('display.max_rows', None)

no_outlier_prices[['high']].describe()

# **Create stock list to import dataset of stocks listed on the JSE**

**Install packages**

In [ ]:
!pip install yfinance

In [ ]:
!pip install yahooquery

**Run programme**

In [2]:
#Import required libraries
import pandas as pd
import json
import requests
import glob
import os
from yahooquery import Ticker
from datetime import datetime


params = {'access_key': 'e52cf3b93696352e880916f8c8adbf0c',
          'limit': 350}
api_result = requests.get('http://api.marketstack.com/v1/exchanges/XJSE/tickers', params)
api_response = api_result.json()
print(f"Exchange Name = {api_response['data']['name']}")
for ticker in api_response['data']['tickers']:
  print(f"{ticker['name']}: {ticker['symbol']}")


# Serializing json
json_object = json.dumps(api_response, indent=4)
# Writing to sample.json
with open("jse.json", "w") as outfile:
    outfile.write(json_object)

# Opening JSON file
with open('jse.json', 'r') as openfile:
    # Reading from json file
    json_object = json.load(openfile)
df1 = pd.json_normalize(json_object["data"]["tickers"])

# dropping null value columns to avoid errors
# new data frame with split value columns
new = df1["symbol"].str.split(".", n = 1, expand = True)
# making separate first name column from new data frame
df1["ticker"]= new[0]
# Dropping old Name columns
df1.drop(columns =["has_intraday","has_eod"], inplace = True)
new.columns = new.columns.astype(str)
new.columns.values[1] = "tickers"
new['0'] + '.' + new['tickers']
new.replace("XJSE", "JO", inplace=True)

result = pd.concat([df1, new], axis=1, join='inner')
df2=result['0'] + '.' + result['tickers']
final = pd.concat([df1, df2], axis=1, join='inner')
final.columns.values[3] = "tickers"
final.columns = final.columns.astype(str)
#Dropping old Name columns
final.drop(columns =["name", "symbol","ticker"], inplace = True)
# Converting a specific Dataframe 
# column to list using Series.tolist()
xjse = final["tickers"].tolist()  

symbols = xjse
tickers = Ticker(symbols, asynchronous=True)
data = tickers.history(start='2020-01-01', end='2023-05-10', interval='1d')
data= data.drop(['adjclose','dividends','splits'],axis=1)

resetindex = data.reset_index(inplace = True) 

# new dataframe with different column order
df_new = data.iloc[:, [1, 2, 3, 4, 5, 6, 0]]

Tickers = df_new["symbol"].tolist()
mylist = list(dict.fromkeys(Tickers))
df = pd.DataFrame (mylist, columns = ['tickers'])
df.columns = df.iloc[1]

df.to_csv("/content/Stocks/tickers.csv")


#Change date format to Year-Month-Day
df_new['date'] =  pd.to_datetime(df_new['date']).dt.strftime('%Y-%m-%d')

df_new.set_index('date', inplace=True)

for i, g in df_new.groupby('symbol'):
    g.to_csv('/content/Stocks/{}.csv'.format(i), header=True, index_label=False)

Exchange Name = Johannesburg Stock Exchange
PROSUS N.V.: PRX.XJSE
ANHEUSER-BUSCH INBEV SA NV: ANH.XJSE
BHP GROUP PLC: BHP.XJSE
BRITISH AMERICAN TOB PLC: BTI.XJSE
NASPERS LTD -N-: NPN.XJSE
COMPAGNIE FIN RICHEMONT: CFR.XJSE
GLENCORE PLC: GLN.XJSE
ANGLO AMERICAN PLC: AGL.XJSE
FIRSTRAND LTD: FSR.XJSE
ANGLO AMERICAN PLAT LTD: AMS.XJSE
STANDARD BANK GROUP LTD: SBK.XJSE
VODACOM GROUP LTD: VOD.XJSE
MONDI PLC: MNP.XJSE
CAPITEC BANK HLDGS LTD: CPI.XJSE
BEE - SASOL LIMITED: SOLBE1.XJSE
SANLAM LIMITED: SLM.XJSE
MTN GROUP LTD: MTN.XJSE
ANGLOGOLD ASHANTI LTD: ANG.XJSE
SASOL LIMITED: SOL.XJSE
ABSA GROUP LIMITED: ABG.XJSE
SOUTH32 LIMITED: S32.XJSE
RMB HOLDINGS LTD: RMH.XJSE
IMPALA PLATINUM HLGS LTD: IMP.XJSE
BID CORPORATION LTD: BID.XJSE
REMGRO LTD: REM.XJSE
KUMBA IRON ORE LTD: KIO.XJSE
NEDBANK GROUP LTD: NED.XJSE
SIBANYE STILLWATER LTD: SSW.XJSE
GOLD FIELDS LTD: GFI.XJSE
INVESTEC LTD: INL.XJSE
INVESTEC PLC: INP.XJSE
OLD MUTUAL LIMITED: OMU.XJSE
NEPI ROCKCASTLE PLC: NRP.XJSE
DISCOVERY LTD: DSY.XJSE
SHOPRITE HOLDINGS LTD: SHP.XJSE
BIDVEST LTD: BVT.XJSE
REINET INVESTMENTS S.C.A: RNI.XJSE
CLICKS GROUP LTD: CLS.XJSE
PEPKOR HOLDINGS LTD: PPH.XJSE
QUILTER PLC: QLT.XJSE
GROWTHPOINT PROP LTD: GRT.XJSE
MEDICLINIC INT PLC: MEI.XJSE
ASPEN PHARMACARE HLDGS LTD: APN.XJSE
PSG GROUP LTD: PSG.XJSE
MULTICHOICE GROUP LTD: MCG.XJSE
MR PRICE GROUP LTD: MRP.XJSE
NORTHAM PLATINUM LTD: NHM.XJSE
RAND MERCHANT INV HLDGS LTD: RMI.XJSE
FORTRESS REIT LTD A: FFA.XJSE
WOOLWORTHS HOLDINGS LTD: WHL.XJSE
CAPITAL&COUNTIES PROP PLC: CCO.XJSE
LIFE HEALTHC GRP HLDGS LTD: LHC.XJSE
HAMMERSON PLC: HMN.XJSE
THE SPAR GROUP LTD: SPP.XJSE
HARMONY GM CO LTD: HAR.XJSE
REDEFINE PROPERTIES LTD: RDF.XJSE
THE FOSCHINI GROUP LIMITED: TFG.XJSE
EXXARO RESOURCES LTD: EXX.XJSE
SANTAM LIMITED: SNT.XJSE
AFRICAN RAINBOW MIN LTD: ARI.XJSE
PICK N PAY STORES LTD: PIK.XJSE
MOMENTUM MET HLDGS LTD: MTM.XJSE
LIBERTY HOLDINGS LTD: LBH.XJSE
VIVO ENERGY PLC: VVO.XJSE
TIGER BRANDS LTD: TBS.XJSE
NETCARE LIMITED: NTC.XJSE
AVI LTD: AVI.XJSE
DISTELL GROUP HLDGS LTD: DGH.XJSE
PIONEER FOODS GROUP LTD: PFG.XJSE
RESILIENT REIT LIMITED: RES.XJSE
TRUWORTHS INT LTD: TRU.XJSE
DIS-CHEM PHARMACIES LTD: DCP.XJSE
ASSORE LTD: ASR.XJSE
GLOBE TRADE CENTRE S.A.: GTC.XJSE
BARLOWORLD LTD: BAW.XJSE
SIRIUS REAL ESTATE LTD: SRE.XJSE
SAPPI LTD: SAP.XJSE
ITALTILE LTD: ITE.XJSE
EPP N.V.: EPP.XJSE
VUKILE PROPERTY FUND LTD: VKE.XJSE
MOTUS HOLDINGS LTD: MTH.XJSE
CORONATION FUND MNGRS LD: CML.XJSE
TELKOM SA SOC LTD: TKG.XJSE
ROYAL BAFOKENG PLATINUM LTD: RBP.XJSE
MAS REAL ESTATE INC.: MSP.XJSE
HYPROP INV LTD: HYP.XJSE
TRANSACTION CAPITAL LTD: TCP.XJSE
FORTRESS REIT LTD B: FFB.XJSE
ARROWHEAD PROP LTD A: AHA.XJSE
PSG KONSULT LIMITED: KST.XJSE
AECI LIMITED: AFE.XJSE
RCL FOODS LIMITED: RCL.XJSE
MASSMART HOLDINGS LTD: MSM.XJSE
EQUITES PROP FUND LTD: EQU.XJSE
INVESTEC PROPERTY FUND LTD: IPF.XJSE
REUNERT LTD: RLO.XJSE
TSOGO SUN GAMING LTD: TSG.XJSE
IMPERIAL LOGISTICS LTD: IPL.XJSE
JSE LTD: JSE.XJSE
DRD GOLD LTD: DRD.XJSE
RDI REIT P.L.C: RPL.XJSE
SUPER GROUP LTD: SPG.XJSE
KAP INDUSTRIAL HLDGS LTD: KAP.XJSE
ALLIED ELECTRONICS CORP A: AEL.XJSE
TEXTAINER GROUP HLDGS LTD: TXT.XJSE
ASTRAL FOODS LTD: ARL.XJSE
ZEDER INV LTD: ZED.XJSE
CARTRACK HOLDINGS LTD: CTK.XJSE
ADCOCK INGRAM HLDGS LTD: AIP.XJSE
STENPROP LIMITED: STP.XJSE
ATTACQ LIMITED: ATT.XJSE
OCEANA GROUP LTD: OCE.XJSE
DATATEC LTD: DTC.XJSE
EMIRA PROPERTY FUND LTD: EMI.XJSE
MONTAUK HOLDINGS LTD: MNK.XJSE
AFRICAN OXYGEN LIMITED: AFX.XJSE
HOSKEN CONS INV LTD: HCI.XJSE
ALEXANDER FORBES GRP HLDGS: AFH.XJSE
STEINHOFF INT HLDGS N.V.: SNH.XJSE
FAMOUS BRANDS LTD: FBR.XJSE
WILSON BAYLY HLM-OVC LTD: WBO.XJSE
SA CORP REAL ESTATE LTD: SAC.XJSE
STOR-AGE PROP REIT LTD: SSS.XJSE
ADVTECH LTD: ADH.XJSE
TRUSTCO GROUP HLDGS LTD: TTO.XJSE
LIBERTY TWO DEGREES LTD: L2D.XJSE
LIGHTHOUSE CAPITAL LTD: LTE.XJSE
GRIT REAL ESTATE INC GRP: GTR.XJSE
CURRO HOLDINGS LIMITED: COH.XJSE
DIPULA INCOME FUND A: DIA.XJSE
PAN AFRICAN RESOURCE PLC: PAN.XJSE
MIX TELEMATICS LTD: MIX.XJSE
LIBSTAR HOLDINGS LTD: LBR.XJSE
CLIENTELE LTD: CLI.XJSE
RAVEN PROPERTY GROUP LTD: RAV.XJSE
BRAIT SE: BAT.XJSE
OMNIA HOLDINGS LTD: OMN.XJSE
SEA HARVEST GROUP LTD: SHG.XJSE
SUN INTERNATIONAL LTD: SUI.XJSE
METAIR INVESTMENTS LTD: MTA.XJSE
AFRIMAT LIMITED: AFT.XJSE
CAPITAL & REGIONAL PLC: CRP.XJSE
RAUBEX GROUP LTD: RBX.XJSE
HOMECHOICE INT PLC: HIL.XJSE
CASHBUILD LTD: CSB.XJSE
RHODES FOOD GRP HLDG LTD: RFG.XJSE
PEREGRINE HOLDINGS LIMITED: PGR.XJSE
MURRAY & ROBERTS HLDGS: MUR.XJSE
OCTODEC INVEST LTD: OCT.XJSE
INTU PROPERTIES PLC: ITU.XJSE
HOSPITALITY PROP FUND B: HPB.XJSE
TSOGO SUN HOTELS LTD: TGO.XJSE
ARROWHEAD PROP LTD B: AHB.XJSE
THARISA PLC: THA.XJSE
AFRICAN RAINBOW CAP INV: AIL.XJSE
HUDACO INDUSTRIES LTD: HDC.XJSE
EXEMPLAR REITAIL LTD: EXP.XJSE
GRINDROD LTD: GND.XJSE
NET 1 UEPS TECH INC: NT1.XJSE
HERIOT REIT LIMITED: HET.XJSE
ATLANTIC LEAF PROP LTD: ALP.XJSE
SCHRODER EUR REIT PLC: SCD.XJSE
LONG 4 LIFE LIMITED: L4L.XJSE
FINBOND GROUP LTD: FGL.XJSE
TRADEHOLD LTD: TDH.XJSE
ACSION LIMITED: ACS.XJSE
CAXTON CTP PUBLISH PRINT: CAT.XJSE
PPC LIMITED: PPC.XJSE
MPACT LIMITED: MPT.XJSE
BLUE LABEL TELECOMS LTD: BLU.XJSE
LEWIS GROUP LTD: LEW.XJSE
SPUR CORPORATION LTD: SUR.XJSE
GEMFIELDS GROUP LIMITED: GML.XJSE
CITY LODGE HOTELS LTD: CLH.XJSE
E MEDIA HOLDINGS LTD -N-: EMN.XJSE
NAMPAK LTD: NPK.XJSE
ENX GROUP LIMITED: ENX.XJSE
KAAP AGRI LIMITED: KAL.XJSE
FAIRVEST PROPERTY HLDGS: FVT.XJSE
ALPHAMIN RESOURCES CORP: APH.XJSE
SPEAR REIT LIMITED: SEA.XJSE
SABVEST LTD: SBV.XJSE
RENERGEN LIMITED: REN.XJSE
AFROCENTRIC INV CORP LTD: ACT.XJSE
BRIMSTONE INV CORP LTD-N: BRN.XJSE
EPE CAPITAL PARTNERS LTD: EPE.XJSE
BALWIN PROPERTIES LTD: BWN.XJSE
BRIMSTONE INV CORP LTD: BRT.XJSE
TRENCOR LTD: TRE.XJSE
MASTER DRILLING GRP LTD: MDI.XJSE
GRAND PARADE INV LTD: GPL.XJSE
SABVEST LTD -N-: SVN.XJSE
OANDO PLC: OAO.XJSE
JUBILEE METALS GROUP PLC: JBL.XJSE
COMBINED MOTOR HLDGS LTD: CMH.XJSE
SYGNIA LIMITED: SYG.XJSE
STADIO HOLDINGS LIMITED: SDO.XJSE
E MEDIA HOLDINGS LTD: EMH.XJSE
GRINDROD SHIPPING HLDG LTD: GSH.XJSE
TOWER PROPERTY FUND LTD: TWR.XJSE
ACCELERATE PROP FUND LTD: APF.XJSE
METROFILE HOLDINGS LTD: MFL.XJSE
SAFARI INVESTMENTS RSA LTD: SAR.XJSE
MERAFE RESOURCES LTD: MRF.XJSE
COMAIR LIMITED: COM.XJSE
MTN ZAKHELE FUTHI: MTNZF.XJSE
ADCORP HOLDINGS LIMITED: ADR.XJSE
INDLUPLACE PROPERTIES LTD: ILU.XJSE
DIPULA INCOME FUND B: DIB.XJSE
HOSKEN PAX LOG AND RAIL: HPR.XJSE
ARCELORMITTAL SA LIMITED: ACL.XJSE
ALVIVA HOLDINGS LTD: AVV.XJSE
INVICTA HOLDINGS LTD: IVT.XJSE
ARB HOLDINGS LIMITED: ARH.XJSE
TISO BLACKSTAR GROUP SE: TBG.XJSE
ZARCLEAR HOLDINGS LTD: ZCL.XJSE
TRANSCEND RES PROP FD LD: TPF.XJSE
YEBOYETHU (RF) LTD: YYLBEE.XJSE
CAPITAL APPRECIATION LTD: CTA.XJSE
TEXTON PROPERTY FUND LTD: TEX.XJSE
STELLAR CAP PARTNERS LTD: SCP.XJSE
SASFIN HOLDINGS LTD: SFN.XJSE
ANCHOR GROUP LIMITED: ACG.XJSE
BELL EQUIPMENT LTD: BEL.XJSE
HUGE GROUP LTD: HUG.XJSE
MARSHALL MONTEAGLE PLC: MMP.XJSE
WESIZWE PLATINUM LTD: WEZ.XJSE
VALUE GROUP LTD: VLE.XJSE
AYO TECH SOLUTIONS LTD: AYO.XJSE
DENEB INVESTMENTS LTD: DNB.XJSE
ONELOGIX GROUP LTD: OLG.XJSE
NOVUS HOLDINGS LIMITED: NVS.XJSE
QUANTUM FOODS HLDGS LTD: QFH.XJSE
NU-WORLD HLDGS LTD: NWL.XJSE
NVEST FINANCIAL HLDGS LTD: NVE.XJSE
MC MINING LIMITED: MCZ.XJSE
EOH HOLDINGS LTD: EOH.XJSE
REBOSIS PROPERTY FUND LTD A: REA.XJSE
HULAMIN LTD: HLM.XJSE
NEWPARK REIT LTD: NRL.XJSE
WESCOAL HOLDINGS LTD: WSL.XJSE
TREMATON CAPITAL INV LTD: TMT.XJSE
BOWLER METCALF LTD: BCF.XJSE
MUSTEK LTD: MST.XJSE
RH BOPHELO LIMITED: RHB.XJSE
CROOKES BROTHERS LTD: CKS.XJSE
ORION MINERALS LIMITED: ORN.XJSE
AFRICAN PHOENIX INV LTD: AXL.XJSE
EFFICIENT GROUP LTD: EFG.XJSE
TRANSPACO LTD: TPC.XJSE
TONGAAT HULETT LTD: TON.XJSE
DELTA PROPERTY FUND LTD: DLT.XJSE
RESOURCE GENERATION LTD: RSG.XJSE
INSIMBI IND HLDGS LTD: ISB.XJSE
AFRICAN EQUITY EMP INV LTD: AEE.XJSE
AVENG GROUP LIMITED: AEG.XJSE
REX TRUEFORM GROUP LTD: RTO.XJSE
YORK TIMBER HOLDINGS LTD: YRK.XJSE
REX TRUEFORM GROUP -N-: RTN.XJSE
VUNANI LTD: VUN.XJSE
KORE POTASH PLC: KP2.XJSE
PURPLE GROUP LTD: PPE.XJSE
CONDUIT CAPITAL LTD: CND.XJSE
ARGENT INDUSTRIAL LTD: ART.XJSE
TRELLIDOR HLDGS LTD: TRL.XJSE
SANTOVA LOGISTICS LTD: SNV.XJSE
AFRICAN & OVER ENT LTD -N: AON.XJSE
CALGRO M3 HLDGS LTD: CGR.XJSE
BUFFALO COAL CORP: BUC.XJSE
AFRICAN & OVER ENT LTD: AOO.XJSE
PREMIER FISHING BRANDS LTD: PFB.XJSE
ASTORIA INVESTMENTS LTD: ARA.XJSE
WORKFORCE HOLDINGS LTD: WKF.XJSE
NIVEUS INVESTMENTS LTD: NIV.XJSE
HULISANI LIMITED: HUL.XJSE
PBT GROUP LIMITED: PBG.XJSE
GAIA INFRASTRUCT CAP LTD: GAI.XJSE
ADAPT IT HOLDINGS LTD: ADI.XJSE
EASTERN PLATINUM LTD: EPS.XJSE
ALARIS HOLDINGS LTD: ALH.XJSE
CHROMETCO LTD: CMO.XJSE
CONS INFRASTRUCTURE GRP LTD: CIL.XJSE
REBOSIS PROPERTY FUND LTD: REB.XJSE
ANDULELA INV HLDGS LTD: AND.XJSE
LONDON FIN INV GROUP PLC: LNF.XJSE
SEBATA HOLDINGS LTD: SEB.XJSE
ASCENDIS HEALTH LTD: ASC.XJSE
SEPHAKU HOLDINGS LTD: SEP.XJSE
LABAT AFRICA LTD: LAB.XJSE
AFRICAN MEDIA ENT LTD: AME.XJSE
PHUMELELA GAME LEISURE: PHM.XJSE
PUTPROP LTD: PPR.XJSE
UNICORN CAPITAL PNR LTD: UCP.XJSE
RANDGOLD & EXPL CO LTD: RNG.XJSE
GO LIFE INTERNATIONAL LD: GLI.XJSE
NUTRITIONAL HOLDINGS LTD: NUT.XJSE
KIBO ENERGY PLC: KBO.XJSE
EFORA ENERGY LIMITED: EEL.XJSE
KAYDAV GROUP LTD: KDV.XJSE
BAUBA RESOURCES LIMITED: BAU.XJSE
COGNITION HOLDINGS LTD: CGN.XJSE
ELB GROUP LTD: ELR.XJSE
ISA HOLDINGS LIMITED: ISA.XJSE
INDEQUITY GROUP LTD: IDQ.XJSE
PSV HOLDINGS LTD: PSV.XJSE
ADVANCED HEALTH LTD: AVL.XJSE
CSG HOLDINGS LTD: CSG.XJSE
PRIMESERV GROUP LTD: PMV.XJSE
TASTE HLDGS LTD: TAS.XJSE
ETION LIMITED: ETO.XJSE
SOUTH OCEAN HOLDINGS LTD: SOH.XJSE
ELLIES HOLDINGS LTD: ELI.XJSE
NICTUS LTD: NCS.XJSE
JASCO ELECTRON HLDGS LTD: JSC.XJSE
STEFANUTI STCK HLDGS LTD: SSK.XJSE
SILVERBRIDGE HOLDINGS: SVB.XJSE
TELEMASTER HOLDINGS LTD: TLM.XJSE
ECSPONENT LIMITED: ECS.XJSE
EUROPA METALS LIMITED: EUZ.XJSE
PEMBURY LIFESTYLE GRP LT: PEM.XJSE
VISUAL INTERNATIONAL HLDGS LTD: VIS.XJSE
SPANJAARD LIMITED: SPA.XJSE
MAZOR GROUP LTD: MZR.XJSE
AFRICAN DAWN CAPITAL LTD: ADW.XJSE
ACCENTUATE LIMITED: ACE.XJSE
ABSA BANK LTD PREF: ABSP.XJSE
FIRSTRAND LTD B PREF: FSRP.XJSE
STD BANK GROUP 6,5%PREF: SBKP.XJSE
STANDARD BANK GROUP PREF: SBPP.XJSE
INVESTEC LTD PREF: INPR.XJSE
INVESTEC PLC PREF (RAND): INPPR.XJSE
INVESTEC PLC PREF: INPP.XJSE
DISCOVERY LTD B PREF: DSBP.XJSE
NETCARE LIMITED PREF: NTCP.XJSE
LIBERTY HLDGS 11C PREF: LBHP.XJSE
CAPITEC BANK HLDGS PREF: CPIP.XJSE
AECI LIMITED 5,5% PREF: AFEP.XJSE
GRINDROD LTD PREF: GNDP.XJSE
CAXTON CTP PUBLISH 6%PF: CATP.XJSE
NAMPAK LTD 6%PREF: NPKP.XJSE
PSG FINANCIAL SERV PREF: PGFP.XJSE
INVICTA HLDGS LTD PREF: IVTP.XJSE
SASFIN HLDGS LTD PREF: SFNP.XJSE
RECM AND CALIBRE LIMITED: RACP.XJSE
ECSPONENT PREF SHARE C2: ECSP6.XJSE
4Sight Holdings Limited: 4SI.XJSE
Arden Capital Limited: ACZ.XJSE
AH-Vest Limited: AHL.XJSE
Cloud Atlas AMI Big50 ex-SA ETF: AMIB50.XJSE
Cloud Atlas (RF) Proprietary Limited - AMI Real Es: AMIRE.XJSE

#**Import Times Series of All Share Index**

In [ ]:
import datetime
import pandas as pd
import yfinance as yf
now = datetime.datetime.now().strftime("%Y-%m-%d")
data = yf.Ticker("^J203.JO")
data = data.history(start="2022-01-01",  end=now)

#data['Date'] = pd.to_datetime(data['Date']).dt.strftime('%Y-%m-%d')
print(data)
data.to_csv("allshareza.csv")

resetindex = data.reset_index(inplace = True)

data['Date'] = pd.to_datetime(data['Date']).dt.strftime('%Y-%m-%d')

data.to_csv("allshareza.csv")

data

#**Momentum Ranking Table of stocks**

In [3]:

%matplotlib inline
from datetime import datetime 
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

plt.rcParams["figure.figsize"] = (12, 9) # (w, h)
plt.ioff()

In [4]:
tickers = pd.read_csv('/content/Stocks/tickers.csv', header=None)[1].tolist()
stocks = (
    (pd.concat(
        [pd.read_csv(f"/content/Stocks/{ticker}.csv", parse_dates=True)[
        'close'].rename(ticker)
        for ticker in tickers],
        axis=1,
        sort=True)
    )
)
stocks = stocks.loc[:,~stocks.columns.duplicated()]

from scipy.stats import linregress
def momentum(closes):
    returns = np.log(closes)
    x = np.arange(len(returns))
    slope, _, rvalue, _, _ = linregress(x, returns)
    return ((1 + slope) ** 252) * (rvalue ** 2)  # annualize slope and multiply by R^2

momentums = stocks.copy(deep=True)
for ticker in tickers:
    momentums[ticker] = stocks[ticker].rolling(90).apply(momentum, raw=False)

In [ ]:
plt.figure(figsize=(12, 9))
plt.xlabel('Days')
plt.ylabel('Stock Price')

bests = momentums.max().sort_values(ascending=False).index[:10]
for best in bests:
    end = momentums[best].index.get_loc(momentums[best].idxmax())
    rets = np.log(stocks[best].iloc[end - 90 : end])
    x = np.arange(len(rets))
    slope, intercept, r_value, p_value, std_err = linregress(x, rets)
    plt.plot(np.arange(180), stocks[best][end-90:end+90])
    plt.plot(x, np.e ** (intercept + slope*x))
    plt.plot()

In [5]:
rslt_df = momentums.sort_values(by = '2023-05-09', axis = 1, ascending =False)

rslt_df.reset_index(inplace=True)

res = rslt_df[~(rslt_df['index'] < '2023-05-09')]

res.dropna(axis=1)


res = res.reindex(columns = res.columns.tolist()
                                  + ['empty'])

df = res.set_index(['empty']).stack().reset_index(name='index').rename(columns={'level_2':'date'})

df.columns = df.iloc[0]

df.index = list(df.index)

df.columns.values[0] = "empty"
df.columns.values[1] = "symbol"
df.columns.values[2] = "momentum_score"

df=df.drop(['empty'], axis=1)

finalframe=df.drop(index=0)

finalframe['rank'] = finalframe['momentum_score'].rank(ascending=False)

finalframe['momentum_score'] =finalframe['momentum_score'].astype(float)

finalframe.head(2)

0  symbol  momentum_score  rank
1  TTO.JO    5.860573e+07   1.0
2  TLM.JO    1.134769e+02   2.0

In [25]:
finalframe.style.format({'momentum_score': "{:.2f}"})

In [26]:
New=finalframe["symbol"].str.split(".", n = 1, expand = True)

In [27]:
result = pd.concat([New, finalframe], axis=1, join='inner')

In [28]:
result.columns.values[1] = "delete"

In [29]:
Outcome = result.iloc[:, [0, 2, 3, 4]]

In [30]:
Outcome.head()

      0   symbol  momentum_score  rank
1   TTO   TTO.JO    5.860573e+07   1.0
2   TLM   TLM.JO    1.134769e+02   2.0
3   PPR   PPR.JO    7.055745e+01   3.0
4   AYO   AYO.JO    2.634467e+01   4.0
5  AFEP  AFEP.JO    1.760627e+01   5.0

In [33]:
Mylist = Outcome["symbol"].tolist()

In [34]:
print(Mylist)

['TTO.JO', 'TLM.JO', 'PPR.JO', 'AYO.JO', 'AFEP.JO', 'DRD.JO', 'APN.JO', 'GFI.JO', 'ILU.JO', 'RNI.JO', 'FFA.JO', 'ANH.JO', 'ANG.JO', 'HAR.JO', 'ISB.JO', 'MEI.JO', 'BID.JO', 'ARA.JO', 'TRE.JO', 'ATT.JO', 'HCI.JO', 'LHC.JO', 'DTC.JO', 'CAT.JO', 'EXP.JO', 'BVT.JO', 'WBO.JO', 'TXT.JO', 'MIX.JO', 'MST.JO', 'SUI.JO', 'SUR.JO', 'SPG.JO', 'FBR.JO', 'PPC.JO', 'BEL.JO', 'ACT.JO', 'RCL.JO', 'ENX.JO', 'NTCP.JO', 'RLO.JO', 'AEE.JO', 'GRT.JO', 'KAL.JO', 'OMN.JO', 'CPIP.JO', 'RES.JO', 'DSY.JO', 'JSC.JO', 'RACP.JO', 'TPC.JO', 'RBP.JO', 'CMH.JO', 'HLM.JO', 'SHG.JO', 'ART.JO', 'SHP.JO', 'AIL.JO', 'CPI.JO', 'PFB.JO', 'PPH.JO', 'LEW.JO', 'RMH.JO', 'ABSP.JO', 'EXX.JO', 'CLS.JO', 'ABG.JO', 'AVI.JO', 'CSB.JO', 'SNT.JO', 'RDF.JO', 'BAT.JO', 'QFH.JO', 'DSBP.JO', 'AME.JO', 'SEA.JO', 'SAC.JO', 'L2D.JO', 'DCP.JO', 'SAP.JO', 'THA.JO', 'MRP.JO', 'HYP.JO', 'TSG.JO', 'ITE.JO', 'COH.JO', 'SYG.JO', 'EQU.JO', 'SPP.JO', 'TBS.JO', 'HIL.JO', 'YYLBEE.JO', 'CML.JO', 'ARI.JO', 'SSS.JO', 'MMP.JO', 'MFL.JO', 'TFG.JO', 'HDC.JO', 'IPF.JO', 'MTA.JO', 'KIO.JO', 'AGL.JO', 'GND.JO', 'CLH.JO', 'VKE.JO', 'JSE.JO', 'ACL.JO', 'PAN.JO', 'SSK.JO', 'KST.JO', 'INPP.JO', 'INL.JO', 'SBPP.JO', 'IMP.JO', 'ADR.JO', 'SOL.JO', 'DLT.JO', 'HUG.JO', 'LBR.JO', 'INP.JO', 'SNV.JO', 'NWL.JO', 'PPE.JO', 'EUZ.JO', 'GNDP.JO', 'NPK.JO', 'INPR.JO', 'GLN.JO', 'OCE.JO', 'KAP.JO', 'MRF.JO', 'MTH.JO', 'SSW.JO', 'TRU.JO', 'MPT.JO', 'REN.JO', 'MNP.JO', 'SDO.JO', 'CGR.JO', 'GSH.JO', 'SLM.JO', 'OCT.JO', 'BLU.JO', 'AFT.JO', 'PIK.JO', 'RFG.JO', 'AMS.JO', 'WHL.JO', 'LTE.JO', 'NVS.JO', 'AEG.JO', 'JBL.JO', 'RNG.JO', 'LAB.JO', 'YRK.JO', 'HMN.JO', 'RBX.JO', 'FGL.JO', 'IVT.JO', 'QLT.JO', 'MTN.JO', 'TMT.JO', 'ADH.JO', '4SI.JO', 'NTC.JO', 'ZED.JO', 'CTA.JO', 'KBO.JO', 'WEZ.JO', 'PBG.JO', 'NED.JO', 'SOLBE1.JO', 'MCZ.JO', 'TEX.JO', 'GML.JO', 'ELI.JO', 'FFB.JO', 'KP2.JO', 'SAR.JO', 'OMU.JO', 'BTI.JO', 'IVTP.JO', 'ISA.JO', 'AEL.JO', 'AVL.JO', 'MCG.JO', 'SBK.JO', 'BAW.JO', 'FSR.JO', 'MDI.JO', 'BWN.JO', 'VIS.JO', 'SNH.JO', 'SEP.JO', 'APF.JO', 'SRE.JO', 'GPL.JO', 'MSP.JO', 'APH.JO', 'MTNZF.JO', 'MUR.JO', 'BCF.JO', 'BRN.JO', 'ADW.JO', 'NRP.JO', 'CLI.JO', 'TKG.JO', 'VOD.JO', 'EPE.JO', 'PRX.JO', 'ORN.JO', 'DIB.JO', 'MTM.JO', 'TCP.JO', 'EMI.JO', 'BRT.JO', 'CRP.JO', 'AIP.JO', 'AFH.JO', 'S32.JO', 'SFN.JO', 'ACS.JO', 'DNB.JO', 'SOH.JO', 'GLI.JO', 'EPS.JO', 'ASC.JO', 'EMN.JO', 'CGN.JO', 'AFE.JO', 'SEB.JO', 'RHB.JO', 'ARL.JO', 'CKS.JO', 'TDH.JO', 'PMV.JO', 'VUN.JO', 'NPN.JO', 'TPF.JO', 'REM.JO', 'SCD.JO']

In [14]:
df1.head(2)

                         name    symbol ticker
0                 PROSUS N.V.  PRX.XJSE    PRX
1  ANHEUSER-BUSCH INBEV SA NV  ANH.XJSE    ANH

In [35]:
new = df1["symbol"].str.split(".", n = 1, expand = True)
# making separate first name column from new data frame
df1["ticker"]= new[0]
# Dropping old Name columns
#df1.drop(columns =["has_intraday","has_eod"], inplace = True)
new.columns = new.columns.astype(str)
new.columns.values[1] = "tickers"
new['0'] + '.' + new['tickers']
new.replace("XJSE", "JO", inplace=True)

result = pd.concat([df1, new], axis=1, join='inner')
df2=result['0'] + '.' + result['tickers']
final = pd.concat([df1, df2], axis=1, join='inner')
final.columns.values[3] = "tickers"
final.columns = final.columns.astype(str)

In [36]:
final

,name,symbol,ticker,tickers
0,PROSUS N.V.,PRX.XJSE,PRX,PRX.JO
1,ANHEUSER-BUSCH INBEV SA NV,ANH.XJSE,ANH,ANH.JO
2,BHP GROUP PLC,BHP.XJSE,BHP,BHP.JO
3,BRITISH AMERICAN TOB PLC,BTI.XJSE,BTI,BTI.JO
4,NASPERS LTD -N-,NPN.XJSE,NPN,NPN.JO
...,...,...,...,...
345,4Sight Holdings Limited,4SI.XJSE,4SI,4SI.JO
346,Arden Capital Limited,ACZ.XJSE,ACZ,ACZ.JO
347,AH-Vest Limited,AHL.XJSE,AHL,AHL.JO
348,Cloud Atlas AMI Big50 ex-SA ETF,AMIB50.XJSE,AMIB50,AMIB50.JO
349,Cloud Atlas (RF) Proprietary Limited - AMI Rea...,AMIRE.XJSE,AMIRE,AMIRE.JO

In [104]:
final.drop(columns =["symbol","ticker"], inplace = True)

In [64]:
final

,name,symbol,ticker,tickers
0,PROSUS N.V.,PRX.XJSE,PRX,PRX.JO
1,ANHEUSER-BUSCH INBEV SA NV,ANH.XJSE,ANH,ANH.JO
2,BHP GROUP PLC,BHP.XJSE,BHP,BHP.JO
3,BRITISH AMERICAN TOB PLC,BTI.XJSE,BTI,BTI.JO
4,NASPERS LTD -N-,NPN.XJSE,NPN,NPN.JO
...,...,...,...,...
345,4Sight Holdings Limited,4SI.XJSE,4SI,4SI.JO
346,Arden Capital Limited,ACZ.XJSE,ACZ,ACZ.JO
347,AH-Vest Limited,AHL.XJSE,AHL,AHL.JO
348,Cloud Atlas AMI Big50 ex-SA ETF,AMIB50.XJSE,AMIB50,AMIB50.JO
349,Cloud Atlas (RF) Proprietary Limited - AMI Rea...,AMIRE.XJSE,AMIRE,AMIRE.JO

In [65]:
sel_continents = Mylist

Mine=final[final['tickers'].isin(sel_continents)]

In [66]:
Mine

                           name     symbol ticker  tickers
0                   PROSUS N.V.   PRX.XJSE    PRX   PRX.JO
1    ANHEUSER-BUSCH INBEV SA NV   ANH.XJSE    ANH   ANH.JO
3      BRITISH AMERICAN TOB PLC   BTI.XJSE    BTI   BTI.JO
4               NASPERS LTD -N-   NPN.XJSE    NPN   NPN.JO
6                  GLENCORE PLC   GLN.XJSE    GLN   GLN.JO
..                          ...        ...    ...      ...
336      AECI LIMITED 5,5% PREF  AFEP.XJSE   AFEP  AFEP.JO
337           GRINDROD LTD PREF  GNDP.XJSE   GNDP  GNDP.JO
341      INVICTA HLDGS LTD PREF  IVTP.XJSE   IVTP  IVTP.JO
343    RECM AND CALIBRE LIMITED  RACP.XJSE   RACP  RACP.JO
345     4Sight Holdings Limited   4SI.XJSE    4SI   4SI.JO

[242 rows x 4 columns]

In [67]:
Mine.reindex()

                           name     symbol ticker  tickers
0                   PROSUS N.V.   PRX.XJSE    PRX   PRX.JO
1    ANHEUSER-BUSCH INBEV SA NV   ANH.XJSE    ANH   ANH.JO
3      BRITISH AMERICAN TOB PLC   BTI.XJSE    BTI   BTI.JO
4               NASPERS LTD -N-   NPN.XJSE    NPN   NPN.JO
6                  GLENCORE PLC   GLN.XJSE    GLN   GLN.JO
..                          ...        ...    ...      ...
336      AECI LIMITED 5,5% PREF  AFEP.XJSE   AFEP  AFEP.JO
337           GRINDROD LTD PREF  GNDP.XJSE   GNDP  GNDP.JO
341      INVICTA HLDGS LTD PREF  IVTP.XJSE   IVTP  IVTP.JO
343    RECM AND CALIBRE LIMITED  RACP.XJSE   RACP  RACP.JO
345     4Sight Holdings Limited   4SI.XJSE    4SI   4SI.JO

[242 rows x 4 columns]

In [68]:


#change rows orders using index list
Mine.set_index('tickers', inplace=True)
Mine

                               name     symbol ticker
tickers
PRX.JO                  PROSUS N.V.   PRX.XJSE    PRX
ANH.JO   ANHEUSER-BUSCH INBEV SA NV   ANH.XJSE    ANH
BTI.JO     BRITISH AMERICAN TOB PLC   BTI.XJSE    BTI
NPN.JO              NASPERS LTD -N-   NPN.XJSE    NPN
GLN.JO                 GLENCORE PLC   GLN.XJSE    GLN
...                             ...        ...    ...
AFEP.JO      AECI LIMITED 5,5% PREF  AFEP.XJSE   AFEP
GNDP.JO           GRINDROD LTD PREF  GNDP.XJSE   GNDP
IVTP.JO      INVICTA HLDGS LTD PREF  IVTP.XJSE   IVTP
RACP.JO    RECM AND CALIBRE LIMITED  RACP.XJSE   RACP
4SI.JO      4Sight Holdings Limited   4SI.XJSE    4SI

[242 rows x 3 columns]

In [69]:
#change rows orders using index list
Yes = Mine.reindex(Mylist)

In [48]:
 Yes.info()

<class 'pandas.core.frame.DataFrame'>
Index: 242 entries, TTO.JO to SCD.JO
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    242 non-null    object
 1   symbol  242 non-null    object
 2   ticker  242 non-null    object
dtypes: object(3)
memory usage: 7.6+ KB

In [70]:
Yes

                             name     symbol ticker
tickers
TTO.JO    TRUSTCO GROUP HLDGS LTD   TTO.XJSE    TTO
TLM.JO    TELEMASTER HOLDINGS LTD   TLM.XJSE    TLM
PPR.JO                PUTPROP LTD   PPR.XJSE    PPR
AYO.JO     AYO TECH SOLUTIONS LTD   AYO.XJSE    AYO
AFEP.JO    AECI LIMITED 5,5% PREF  AFEP.XJSE   AFEP
...                           ...        ...    ...
VUN.JO                 VUNANI LTD   VUN.XJSE    VUN
NPN.JO            NASPERS LTD -N-   NPN.XJSE    NPN
TPF.JO   TRANSCEND RES PROP FD LD   TPF.XJSE    TPF
REM.JO                 REMGRO LTD   REM.XJSE    REM
SCD.JO      SCHRODER EUR REIT PLC   SCD.XJSE    SCD

[242 rows x 3 columns]

In [71]:
Yes.reset_index()

     tickers                      name     symbol ticker
0     TTO.JO   TRUSTCO GROUP HLDGS LTD   TTO.XJSE    TTO
1     TLM.JO   TELEMASTER HOLDINGS LTD   TLM.XJSE    TLM
2     PPR.JO               PUTPROP LTD   PPR.XJSE    PPR
3     AYO.JO    AYO TECH SOLUTIONS LTD   AYO.XJSE    AYO
4    AFEP.JO    AECI LIMITED 5,5% PREF  AFEP.XJSE   AFEP
..       ...                       ...        ...    ...
237   VUN.JO                VUNANI LTD   VUN.XJSE    VUN
238   NPN.JO           NASPERS LTD -N-   NPN.XJSE    NPN
239   TPF.JO  TRANSCEND RES PROP FD LD   TPF.XJSE    TPF
240   REM.JO                REMGRO LTD   REM.XJSE    REM
241   SCD.JO     SCHRODER EUR REIT PLC   SCD.XJSE    SCD

[242 rows x 4 columns]

In [74]:
Outcome.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 242 entries, 1 to 242
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   0               242 non-null    object
 1   symbol          242 non-null    object
 2   momentum_score  242 non-null    float64
 3   rank            242 non-null    float64
dtypes: float64(2), object(2)
memory usage: 17.6+ KB

In [76]:
Yes.info()
Yes.reindex()

<class 'pandas.core.frame.DataFrame'>
Index: 242 entries, TTO.JO to SCD.JO
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    242 non-null    object
 1   symbol  242 non-null    object
 2   ticker  242 non-null    object
dtypes: object(3)
memory usage: 15.7+ KB

                             name     symbol ticker
tickers
TTO.JO    TRUSTCO GROUP HLDGS LTD   TTO.XJSE    TTO
TLM.JO    TELEMASTER HOLDINGS LTD   TLM.XJSE    TLM
PPR.JO                PUTPROP LTD   PPR.XJSE    PPR
AYO.JO     AYO TECH SOLUTIONS LTD   AYO.XJSE    AYO
AFEP.JO    AECI LIMITED 5,5% PREF  AFEP.XJSE   AFEP
...                           ...        ...    ...
VUN.JO                 VUNANI LTD   VUN.XJSE    VUN
NPN.JO            NASPERS LTD -N-   NPN.XJSE    NPN
TPF.JO   TRANSCEND RES PROP FD LD   TPF.XJSE    TPF
REM.JO                 REMGRO LTD   REM.XJSE    REM
SCD.JO      SCHRODER EUR REIT PLC   SCD.XJSE    SCD

[242 rows x 3 columns]

In [80]:
Yes.reindex()

     tickers                      name     symbol ticker
0     TTO.JO   TRUSTCO GROUP HLDGS LTD   TTO.XJSE    TTO
1     TLM.JO   TELEMASTER HOLDINGS LTD   TLM.XJSE    TLM
2     PPR.JO               PUTPROP LTD   PPR.XJSE    PPR
3     AYO.JO    AYO TECH SOLUTIONS LTD   AYO.XJSE    AYO
4    AFEP.JO    AECI LIMITED 5,5% PREF  AFEP.XJSE   AFEP
..       ...                       ...        ...    ...
237   VUN.JO                VUNANI LTD   VUN.XJSE    VUN
238   NPN.JO           NASPERS LTD -N-   NPN.XJSE    NPN
239   TPF.JO  TRANSCEND RES PROP FD LD   TPF.XJSE    TPF
240   REM.JO                REMGRO LTD   REM.XJSE    REM
241   SCD.JO     SCHRODER EUR REIT PLC   SCD.XJSE    SCD

[242 rows x 4 columns]

In [83]:

Yes.columns.values[2] = "JSE_Symbol"
Yes.columns.values[3] = "JSE_Code"

In [84]:
Yes.head()

   tickers                     name JSE_Symbol JSE_Code
0   TTO.JO  TRUSTCO GROUP HLDGS LTD   TTO.XJSE      TTO
1   TLM.JO  TELEMASTER HOLDINGS LTD   TLM.XJSE      TLM
2   PPR.JO              PUTPROP LTD   PPR.XJSE      PPR
3   AYO.JO   AYO TECH SOLUTIONS LTD   AYO.XJSE      AYO
4  AFEP.JO   AECI LIMITED 5,5% PREF  AFEP.XJSE     AFEP

In [94]:
Outcome.set_index('symbol',inplace=True)

In [95]:
Outcome

            0  momentum_score   rank
symbol
TTO.JO    TTO    5.860573e+07    1.0
TLM.JO    TLM    1.134769e+02    2.0
PPR.JO    PPR    7.055745e+01    3.0
AYO.JO    AYO    2.634467e+01    4.0
AFEP.JO  AFEP    1.760627e+01    5.0
...       ...             ...    ...
VUN.JO    VUN    1.225407e-04  238.0
NPN.JO    NPN    8.017844e-05  239.0
TPF.JO    TPF    1.279420e-05  240.0
REM.JO    REM    7.370401e-06  241.0
SCD.JO    SCD    0.000000e+00  242.0

[242 rows x 3 columns]

In [96]:
Yes.set_index('tickers',inplace=True)

In [97]:
Yes.head()

                            name JSE_Symbol JSE_Code
tickers
TTO.JO   TRUSTCO GROUP HLDGS LTD   TTO.XJSE      TTO
TLM.JO   TELEMASTER HOLDINGS LTD   TLM.XJSE      TLM
PPR.JO               PUTPROP LTD   PPR.XJSE      PPR
AYO.JO    AYO TECH SOLUTIONS LTD   AYO.XJSE      AYO
AFEP.JO   AECI LIMITED 5,5% PREF  AFEP.XJSE     AFEP

In [98]:

rt = pd.concat([Outcome, Yes], axis=1, join='inner')
display(rt.info)

<bound method DataFrame.info of             0  momentum_score   rank                      name JSE_Symbol  \
TTO.JO    TTO    5.860573e+07    1.0   TRUSTCO GROUP HLDGS LTD   TTO.XJSE
TLM.JO    TLM    1.134769e+02    2.0   TELEMASTER HOLDINGS LTD   TLM.XJSE
PPR.JO    PPR    7.055745e+01    3.0               PUTPROP LTD   PPR.XJSE
AYO.JO    AYO    2.634467e+01    4.0    AYO TECH SOLUTIONS LTD   AYO.XJSE
AFEP.JO  AFEP    1.760627e+01    5.0    AECI LIMITED 5,5% PREF  AFEP.XJSE
...       ...             ...    ...                       ...        ...
VUN.JO    VUN    1.225407e-04  238.0                VUNANI LTD   VUN.XJSE
NPN.JO    NPN    8.017844e-05  239.0           NASPERS LTD -N-   NPN.XJSE
TPF.JO    TPF    1.279420e-05  240.0  TRANSCEND RES PROP FD LD   TPF.XJSE
REM.JO    REM    7.370401e-06  241.0                REMGRO LTD   REM.XJSE
SCD.JO    SCD    0.000000e+00  242.0     SCHRODER EUR REIT PLC   SCD.XJSE

        JSE_Code
TTO.JO       TTO
TLM.JO       TLM
PPR.JO       PPR
AYO.JO       AYO
AFEP.JO     AFEP
...          ...
VUN.JO       VUN
NPN.JO       NPN
TPF.JO       TPF
REM.JO       REM
SCD.JO       SCD

[242 rows x 6 columns]>

In [100]:
rt.info()

<class 'pandas.core.frame.DataFrame'>
Index: 242 entries, TTO.JO to SCD.JO
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   0               242 non-null    object
 1   momentum_score  242 non-null    float64
 2   rank            242 non-null    float64
 3   name            242 non-null    object
 4   JSE_Symbol      242 non-null    object
 5   JSE_Code        242 non-null    object
dtypes: float64(2), object(4)
memory usage: 21.3+ KB

In [101]:
rt

,0,momentum_score,rank,name,JSE_Symbol,JSE_Code
TTO.JO,TTO,5.860573e+07,1.0,TRUSTCO GROUP HLDGS LTD,TTO.XJSE,TTO
TLM.JO,TLM,1.134769e+02,2.0,TELEMASTER HOLDINGS LTD,TLM.XJSE,TLM
PPR.JO,PPR,7.055745e+01,3.0,PUTPROP LTD,PPR.XJSE,PPR
AYO.JO,AYO,2.634467e+01,4.0,AYO TECH SOLUTIONS LTD,AYO.XJSE,AYO
AFEP.JO,AFEP,1.760627e+01,5.0,"AECI LIMITED 5,5% PREF",AFEP.XJSE,AFEP
...,...,...,...,...,...,...
VUN.JO,VUN,1.225407e-04,238.0,VUNANI LTD,VUN.XJSE,VUN
NPN.JO,NPN,8.017844e-05,239.0,NASPERS LTD -N-,NPN.XJSE,NPN
TPF.JO,TPF,1.279420e-05,240.0,TRANSCEND RES PROP FD LD,TPF.XJSE,TPF
REM.JO,REM,7.370401e-06,241.0,REMGRO LTD,REM.XJSE,REM
SCD.JO,SCD,0.000000e+00,242.0,SCHRODER EUR REIT PLC,SCD.XJSE,SCD

In [103]:
rt = rt.iloc[:, [3, 4, 5, 1, 2]]

In [104]:
rt

                             name JSE_Symbol JSE_Code  momentum_score   rank
TTO.JO    TRUSTCO GROUP HLDGS LTD   TTO.XJSE      TTO    5.860573e+07    1.0
TLM.JO    TELEMASTER HOLDINGS LTD   TLM.XJSE      TLM    1.134769e+02    2.0
PPR.JO                PUTPROP LTD   PPR.XJSE      PPR    7.055745e+01    3.0
AYO.JO     AYO TECH SOLUTIONS LTD   AYO.XJSE      AYO    2.634467e+01    4.0
AFEP.JO    AECI LIMITED 5,5% PREF  AFEP.XJSE     AFEP    1.760627e+01    5.0
...                           ...        ...      ...             ...    ...
VUN.JO                 VUNANI LTD   VUN.XJSE      VUN    1.225407e-04  238.0
NPN.JO            NASPERS LTD -N-   NPN.XJSE      NPN    8.017844e-05  239.0
TPF.JO   TRANSCEND RES PROP FD LD   TPF.XJSE      TPF    1.279420e-05  240.0
REM.JO                 REMGRO LTD   REM.XJSE      REM    7.370401e-06  241.0
SCD.JO      SCHRODER EUR REIT PLC   SCD.XJSE      SCD    0.000000e+00  242.0

[242 rows x 5 columns]